.app-container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.form-container {
  margin-bottom: 20px;
}

.form-container input {
  margin: 0 10px;
  padding: 5px 20px;
}

.parent-div {
  display: flex;
  justify-content: center;
}

.data-table {
  width: 500px;
  border-collapse: collapse;
  margin: 20px 0;
  border-color: #333 solid 1px;
}

.data-table th,
.data-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.data-table th {
  background-color: #333;
  color: #ddd;
}

.data-table td {
  height: 10px;
  padding: 5px 20px;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
